{% extends 'base.html' %}
{% block content %}
    <title>Giới Thiệu</title>
    <div class="content-2" style="padding-top: 100px;">
        <div class="image-container">
            <img src="static/images/logo.png" alt="Hình ảnh 1" style="width: 1340px; height: auto; object-fit: cover">
            <div class="black-overlay">
                <p class="centered-text">Giới thiệu</p>
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 20px">
        <br>
        <p style="color: black; text-align: center; font-size: 32px;"><b>quangminh.com - Nền tảng Mua Sắm Điện Thoại Uy Tín và Chất Lượng</b></p>
        <br>
        <p style="color: black;">Chào mừng bạn đến với </span>
        <span style="color: black;"><b>quangminh.com</b></span>
        <span style="color: black;">- nơi mang đến cho bạn trải nghiệm mua sắm trực tuyến độc đáo và tiện lợi. Chúng tôi tự hào là đối tác tin cậy của bạn trong việc chọn lựa sản phẩm điện thoại di động từ các thương hiệu hàng đầu trên thị trường.</p>
        <br>
        <p style="color: black; font-size: 40px;"><b><u>Những điểm nổi bật: </u></b></p>
        <br>
        <p style="color: black; font-size: 36px;"><b>1. Đa Dạng Sản Phẩm: </b></span>
        <div class="cate-contain">
            <div class="cate-row">
                <img src="static/images/img4.jpg" class="cate-img" alt="Snow" style="width: 100%; border-radius: 15px; height: 500px; width: 100%; object-fit: cover">
                <div class="centered" style="color: black;">
                    <span>Tại </span>
                    <span><b>quangminh.com,</b></span>
                    <span>chúng tôi cung cấp một bộ sưu tập đa dạng với hàng loạt các mẫu điện thoại từ các thương hiệu nổi tiếng như Apple, Samsung, Oppo và nhiều thương hiệu khác.</p>
                </div>
            </div>
        </div>
        <br>
        <p style="color: black; font-size: 36px;"><b>2. Giá Cả Cạnh Tranh: </b></span>
        <div class="cate-contain">
            <div class="cate-row">
                <img src="static/images/img5.jpg" class="cate-img" alt="Snow" style="width: 100%; border-radius: 15px; height: 500px; width: 100%; object-fit: cover">
                <div class="centered" style="color: black;">
                    <span>Chúng tôi cam kết mang lại cho khách hàng những giá trị tốt nhất, với các chương trình khuyến mãi đặc biệt và ưu đãi hấp dẫn.</p>
                </div>
            </div>
        </div>
        <br>
        <span style="color: black; font-size: 36px;"><b>3. Dịch Vụ Chăm Sóc Khách Hàng: </b></span>
        <div class="cate-contain">
            <div class="cate-row">
                <img src="static/images/img6.jpg" class="cate-img" alt="Snow" style="width: 100%; border-radius: 15px; height: 500px; width: 100%; object-fit: cover">
                <div class="centered" style="color: black; background-color: rgb(232, 222, 202);">
                    <span>Đội ngũ chăm sóc khách hàng của chúng tôi luôn sẵn sàng hỗ trợ bạn từ khi bạn chọn mua đến khi nhận hàng, đảm bảo bạn có trải nghiệm mua sắm trực tuyến thuận lợi và an tâm.</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}