{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery + Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->

    <!-- Font & Custom Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/stylesheet1.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">

    <style>
        .iframe-container {
            position: fixed;
            bottom: 0;
            right: 20px;
            width: 300px;
            height: 500px;
            z-index: 1000;
            padding-bottom: 50px;
        }
        .iframe-container iframe {
            margin-bottom: 50px;
            width: 100%;
            height: 100%;
            border: none;
        }
        .messenger-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #0078FF;
            color: white;
            padding: 15px 20px;
            border-radius: 50px;
            text-decoration: none;
            font-weight: bold;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .messenger-button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" style="background-color: rgb(115, 115, 115);">
    <div class="container-fluid">
        <button class="navbar-brand" href="/" style="border: none; background-color: rgb(115, 115, 115);">
            <img src="{% static 'images/quangminh.jpg' %}" width="100px">
        </button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link" href="/store">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus">Giới Thiệu</a></li>
                <li class="nav-item"><a class="nav-link" href="/post">Posts</a></li>
                <li class="nav-item"><a class="nav-link" href="/video">Videos</a></li>
            </ul>

            <form action="{% url 'search' %}" method="GET" class="d-flex">
                <input type="text" name="q" class="form-control me-2" placeholder="Tìm kiếm sản phẩm" aria-label="Search">
                <button class="btn btn-dark" type="submit"><i class="fa fa-search"></i></button>
            </form>

            <ul class="navbar-nav my-2 my-lg-0">
                {% if user.is_authenticated %}
    <li class="nav-item">
        <a href="{% url 'cart_view' %}" class="nav-link">Giỏ Hàng
            <span class="badge bg-success">
                {{ request.session.cart|length|default:0 }}
            </span>
        </a>
    </li>
{% endif %}


                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Xin chào, {{ user.get_full_name|default:user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Đăng xuất</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Đăng ký</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Đăng nhập</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<!-- FOOTER -->
<div class="footer mt-5">
    <footer>
        <div class="row p-4">
            <div class="col-md-6">
                <h3>Giới Thiệu:</h3>
                <p>Chào mừng bạn đến với <b>quangminh.com</b> - nơi mua sắm trực tuyến tiện lợi các sản phẩm điện thoại di động chính hãng.</p>
            </div>
            <div class="col-md-6">
                <h3>Liên Hệ:</h3>
                <p><b><i class="fa fa-map-marker"></i> Địa chỉ:</b> 4D/5 Bình Chuẩn 34, Thuận An, Bình Dương</p>
                <p><b><i class="fa fa-envelope"></i> Email:</b> quangminhpham1208@gmail.com</p>
                <p><b><i class="fa fa-phone"></i> SĐT:</b> +84 903 600 989 / +84 379 209 568</p>
            </div>
        </div>
        <div class="text-center py-3" style="background-color: #f0f0f0;">
            &copy; 2023 <b>quangminh.com</b> - Do not reup.
        </div>
    </footer>
</div>

<a href="https://m.me/vitkonguu" class="messenger-button" target="_blank">💬 Chat with us</a>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0"></script>
<div class="fb-customerchat" attribution="setup_tool" page_id="61560601237697"></div>

<!-- Optional JS -->
<script src="{% static 'js/loginscript.js' %}"></script>
<script src="{% static 'js/signupscript.js' %}"></script>
</body>
</html>
