{% extends 'base.html' %}
{% block content %}
    <title>Video</title>
    <div class="container" style="margin-top: 100px">
        <h2 class="text-center my-4">Video về Điện Thoại</h2>
        <div class="row">
            <!-- Video 1 -->
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/5E5SNAqEATw?si=fq9XL2Guene0mdeJ" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Đánh giá chi tiết Xiaomi 14 Ultra</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 54 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vật Vờ Studio | <i class="fa fa-clock-o" aria-hidden="true"></i> 3 tuần trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/UYXz1j0RUWQ" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Đánh giá chi tiết iPhone 15 Pro Max</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 256 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vật Vờ Studio | <i class="fa fa-clock-o" aria-hidden="true"></i> 8 tháng trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/S0vldC2uLfw?si=0wx1v-OV1Awn3CYU" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Đánh giá chi tiết Galaxy S24 Ultra</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 141 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vật Vờ Studio | <i class="fa fa-clock-o" aria-hidden="true"></i> 4 tháng trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/ZpQHdUG9DUk?si=SlMrqhJSIDyWr4X6" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Xếp hạng tất cả chip Flagship nửa đầu 2024</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 14 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Re.lab | <i class="fa fa-clock-o" aria-hidden="true"></i> 3 ngày trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/-Xa9Mt6xHZI?si=NP38Mv48I4EXtCF7" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Xếp hạng tất cả CHIP SMARTPHONE trung cấp mới năm 2024</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 36 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Re.lab | <i class="fa fa-clock-o" aria-hidden="true"></i> 7 ngày trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/9d0EmHaNw9E?si=_QNDvWf4vKL1kwGY" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">TOP vi xử lý TỆ NHẤT đầu năm 2024</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 47 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Re.lab | <i class="fa fa-clock-o" aria-hidden="true"></i> 10 ngày trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/oD9FTjOuMWg?si=Ex0yBw3HLku2gf4Z" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Test pin 5 flagship: Xiaomi 14 Ultra, S24 Ultra, iPhone 15 Pro Max, vivo x100 Pro, Find X7 Ultra</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 59 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vật Vờ Studio | <i class="fa fa-clock-o" aria-hidden="true"></i> 4 tháng trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/oD9FTjOuMWg?si=Ex0yBw3HLku2gf4Z" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Test pin 5 flagship: Xiaomi 14 Ultra, S24 Ultra, iPhone 15 Pro Max, vivo x100 Pro, Find X7 Ultra</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 59 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vật Vờ Studio | <i class="fa fa-clock-o" aria-hidden="true"></i> 4 tháng trước</p>
                </div>
            </div>
        </div>
        <div class="row mt-3 mb-3">
            <div class="col-md-8">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe style="border-radius: 10px" class="embed-responsive-item" src="https://www.youtube.com/embed/G-lCdAMTVFw?si=pWJs2dte4TlugpyJ" allowfullscreen></iframe>
                    </div>
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h3 class="card-text" style="font-size: 32px; font-family: Inter">Xiaomi 14 hay iPhone 15?</h3>
                    <p style="font-size: 20px"><i class="fa fa-eye" aria-hidden="true"></i> 83 N lượt xem</p>
                    <p style="font-size: 20px"><i class="fa fa-user" aria-hidden="true"></i> Vinh Xô | <i class="fa fa-clock-o" aria-hidden="true"></i> 4 tháng trước</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
